:root {
  --text-color: #212121;
  --background-main: #fff;
  --background-footer: #2f303a;
  --excretion-color: #2196f3;
  --background-fon: #f5f4fa;
  --contact-color: #757575;
  --social-icon-color: #afb1b8;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

p {
  color: #757575;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

button:hover,
button:focus {
  background-color: var(--excretion-color);
  color: #fff;
}

body {
  font-family: 'roboto';
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--background-main);
  color: var(--text-color);
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.total-main-nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--excretion-color);
}

.navigation {
  display: flex;
}
.navigation .link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.icon-contacts {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  stroke: currentColor;
}
.navigation .phone {
  width: 12px;
  height: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-contacts:hover,
.icon-contacts:focus {
  fill: var(--excretion-color);
  stroke: var(--excretion-color);
}

.cont .link {
  display: flex;
  color: var(--contact-color);
}

.cont {
  margin-left: auto;
}

.cont .item:first-child {
  margin-right: 32px;
}

.hero {
  width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--background-footer); */
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  background-image: url(../img/background-Img.jpg);
}
.hero-title {
  margin: 0;
  margin-bottom: 35px;
}

.hero .buttons {
  color: #fff;
}

/* head */

.buttons {
  background-color: #2196f3;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
}

.logo {
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--excretion-color);
  margin-right: 93px;
}
.logo-black-part {
  color: #000000;
}
.logo-white-part {
  color: #ffffff;
}

.navigation .current {
  color: var(--excretion-color);
}

.invisible-title {
  display: none;
}

.featur {
  padding-top: 78px;
}

.features {
  display: flex;
}

.features .item {
  width: 270px;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}

.features > li > h3 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  margin-top: 0;
  margin-bottom: 0;
}

.img-features::before {
  content: '';
  display: block;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: var(--background-fon);
}

.icon-antenna::before {
  background-size: 70px;
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-size: 70px;
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-size: 70px;
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaut::before {
  background-size: 70px;
  background-image: url(../img/svg/astronaut.svg);
}

.what-we-do .title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.what-we-do .content {
  display: flex;
  flex-wrap: wrap;
}

.what-we-do .item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  background-color: var(--background-fon);
  padding-bottom: 94px;
}

.our-team h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.our-team .title {
  margin: 0;
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}

.our-team .team-card {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.2;
}

.our-team .item:not(:last-child) {
  margin-right: 30px;
}

.our-team h3 {
  margin-bottom: 10px;
}

.card-text {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* .card:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */
.icon-list {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.icon-list a {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--social-icon-color);
  stroke: var(--social-icon-color);
}

.icon-list li:not(:last-child) {
  margin-right: 10px;
}

.card-icons {
  width: 20px;
  height: 20px;
}

.icon-list a:hover,
.icon-list a:focus,
.card-icons:hover,
.card-icons:focus {
  background-color: var(--excretion-color);
  fill: var(--background-main);
  stroke: var(--background-main);
}

.our-team .card {
  background-color: var(--background-main);
}

.our-clients {
  padding-bottom: 94px;
}

.our-clients .title {
  margin: 0;
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list .item {
  display: flex;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  width: 170px;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.company-logo {
  box-sizing: content-box;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  width: 106px;
  height: 60px;
  fill: var(--social-icon-color);
  cursor: pointer;
}

.clients-list .item:hover,
.clients-list .item:focus,
.company-logo:hover,
.company-logo:focus {
  fill: var(--excretion-color);
  border-color: var(--excretion-color);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
}

.filter {
  width: fit-content;
  background-color: var(--background-fon);
  letter-spacing: 0.03em;
  line-height: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4%;
  border: none;
}

.projects > li > p {
  line-height: 1.87;
}

.projects > li > h3 {
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-text-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.projects-section {
  padding-bottom: 94px;
}

.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

footer {
  background-color: var(--background-footer);
}

.footer-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  margin-left: 70px;
}

.footer-social-links h3 {
  margin-left: 33px;
  margin-bottom: 20px;
}

.footer-block {
  display: flex;
  flex-direction: row;
}

.bottom-contacts {
  margin-top: 20px;
}

.navigation .white a {
  color: #fff;
}

.contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-icons {
  fill: var(--background-main);
  stroke: var(--background-main);
}

.contacts:not(:last-child) {
  margin-bottom: 9px;
}
